<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DirectD.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3344CAC56F90DF7836020DFFE407EB446B1534A1</string>
				<key>dateExpires</key>
				<string>28/05/2021</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4USGCSSCMV.com.directd</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>4USGCSSCMV</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>DirectD.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>871a7948-0e95-40f5-9a67-0a92f1a967cc</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.directd</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4USGCSSCMV</string>
				<key>name</key>
				<string>Rakesh  Roushan</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
